*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }


  .container {
    max-width: 1200px;
    margin: 20px auto;
  }

  .root-nav{
    width: 150px;
  }

  .root-nav li {
    list-style-type: none;
    background: tomato;
    padding-inline-end: 0;
    position: relative;
  }

  .root-nav a,
  .root-nav span{
    text-decoration:  none;
    color: white;
    display: block;
    padding: 5px 15px;
    font-size: 25px;
    cursor: pointer;
  }

  .root-nav ul {
    /* display: none; */
    position: absolute;
    right: -120px;
    top: 0;
    width: 150px;
  }